@font-face {
    font-family: "Gilroy Extra Bold";
    src: url("../fonts/gilroy/gilroyextrabold.woff2") format("woff2"),
         url("../fonts/gilroy/gilroyextrabold.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Gilroy Light";
    src: url("../fonts/gilroy/gilroylight.woff2") format("woff2"),
         url("../fonts/gilroy/gilroylight.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Open Sans";
    src: url("../fonts/open_sans/opensans.woff2") format("woff2"),
         url("../fonts/open_sans/opensans.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Open Sans Light";
    src: url("../fonts/open_sans/opensanslight.woff2") format("woff2"),
         url("../fonts/open_sans/opensanslight.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

body {
  min-width: 1240px;
  font-family: "Open Sans Light", "Arial", sans-serif;
  font-size: 15px;

  color: #464646;
}

/*////////////////////ШРИФТЫ////////////////////*/

/*.............GILROY EXTRA BOLD................*/

h1,
h2,
h3,
.promo-content b,
.nav-main li a,
.btn,
.btn-nav,
.logo,
.logo a,
.item-name a,
.catalog-nav a,
.btn-popular,
.info-block li,
.modal-content-wu label {
  font-family: "Gilroy Extra Bold", "Arial Black", sans-serif;
  color: #000000;
  letter-spacing: 0.01em;
  text-decoration: none;
}

h1,
h2,
.promo-content b {
  font-size: 47px;
}

h3,
.item-name a,
.btn-popular,
.modal-content-wu label
{
  font-size: 18px;
}

.nav-main li a,
.btn,
.btn-nav,
.block-title h2,
.sort-title h2,
.catalog-nav a {
  font-size: 18px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  text-decoration: none;
  color: #000000;
}

/*...............GILROY LIGHT..................*/

.range-values input,
.item-price,
.promo-attrTitle  {
  font-family: "Gilroy Light", "Helvetica", sans-serif;
  letter-spacing: 0.01em;
}

/*............OPEN SANS LIGTH..................*/

#search,
.nav-main li li a,
.breadcrumbs li a,
.user-block a,
.user-options a,
.user-line a,
.promo-content p,
.promo-attrDesc {
  font-family: "Open Sans Light", "Arial", sans-serif;
  font-size: 15px;
  line-height: 36px;
  letter-spacing: 0.01em;
  text-decoration: none;
  color: #000000;
}

/*.................OPEN SANS...................*/

.sort-option,
.modal-content-wu input {
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 14px;
  text-decoration: none;
  color: #000000;
}
/*//////////////////////////////////////////////*/

/*/////////////////ОБЩИЕ СТИЛИ/////////////////*/

/*....................КНОПОКИ..................*/

.btn {
  position: relative;

  text-align: center;
}

.btn::before {
  position: absolute;
  top: 50%;
  left: 0;
  z-index: 10;
  transform: translate(0, -50%);


  width: 100%;
  height: 8px;

  background-color: #f0c52e;

  content: "";
}

.btn span {
  position: relative;
  z-index: 20;
}

.btn:hover::before {
  height: 40px;
}

.btn:active span {
  opacity: 0.3;
}

/*...............:ACTIVE и :HOVER..............*/

#search:hover,
.main-header .btn-user:hover,
.btn-social:hover,
.nav-main a:hover,
.footer-links a:hover,
.breadcrumbs a:hover,
.nav-pageNumbers a:hover {
  opacity: 0.6;
}

.main-header .btn-user:active,
.nav-main a:active,
.main-footer .logo a:active,
.main-footer .btn-user:active,
.footer-links a:active {
  opacity: 0.3;
}
/*/////////////////////////////////////////////*/

/*//////////ОБЩИЕ СТИЛИ СТРАНИЦ/////////////// */

/*HEADER*/

.main-header {
  margin-top: 43px;
  margin-bottom: 34px;
}

.logo,
.logo a {
  font-size: 48px;
  line-height: 40px;
  text-transform: uppercase;
}

.main-header .logo {
  position: relative;
  top: -20px;
  left: -3px;

  -webkit-user-select: none;
          user-select: none;

  cursor: default;
}

.main-header .logo a:hover {
  color: #464646;
}

.main-header .logo a:active {
  color: #666666;
}

.site-search {
  position: relative;

  float: left;
  width: 440px;
}

.site-search label {
  position: absolute;
  top: 60%;
  left: 3px;
  transform: translate(0, -50%);

  width: 16px;
  height: 16px;

  background: url("../img/sprite.png") no-repeat -355px -5px;
}

#search {
  width: 290px;
  margin-top: 7px;
  margin-left: 40px;

  line-height: normal;

  background-color: transparent;
  border: none;
  opacity: 0.3;

  outline: none;
}

#search:focus {
  opacity: 1;
}

#search:focus ~ .btn-search,
#search:focus ~ .btn-search::before {
  display: block;
}

.site-search .btn-search {
  position: absolute;
  right: 0;
  top: -5px;

  display: none;
  width: 80px;
  height: 46px;

  text-align: center;
  line-height: 46px;

  border: 2px solid #000000;
}

.btn-search::before {
  position: absolute;
  right: 0;
  bottom: -2px;

  display:none;
  width: 440px;

  border-bottom: 2px solid #000000;

  content: "";
}

.btn-search:hover {
  color: #ffffff;
  background-color: #000000;
}

.btn-search:active {
  color: rgba(255, 255, 255, 0.3)
}

.user-block {
  float: left;
  width: 260px;
  margin-left: 100px;
}

.btn-user {
  position: relative;

  display: inline-block;

  vertical-align: top;
}

.btn-user::before {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(0, -50%);

  background: url("../img/sprite.png") no-repeat;

  content: "";
}

.btn-userLogin,
.btn-userName {
  padding-left: 27px;
}

.btn-userLogin.btn-user::before,
.btn-userName.btn-user::before {
  width: 13px;
  height: 12px;

  background-position: -429px -5px;
}

.btn-user.btn-userLogout {
  margin-left: 20px;
  opacity: 0.3;
}

.btn-user.btn-userLogout:active {
  opacity: 0.1;
}

.user-options {
  float: right;
  width: 280px;
}

.btn-userCompare {
  width: 73px;
  margin-right: 17px;
  padding-left: 27px;
}

.btn-userCart {
  width: 60px;
  padding-left: 40px;
}

.btn-userCompare.btn-user::before {
  left: 7px;

  width: 10px;
  height: 10px;

  background-position: -71px -5px;
}

.btn-userCart.btn-user::before {
  left: 17px;

  width: 12px;
  height: 12px;

  background-position: -5px -5px;
}

.user-line {
  margin-bottom: 37px;
}

/*FOOTER*/

.main-footer {
  min-height: 263px;
  margin-top: 91px;
  padding-top: 64px;

  background-color: #464646;
}

.main-footer.main-footer-catalog {
  margin-top: 0;
}

.main-footer,
.main-footer a {
  color: #ffffff;
}

.main-footer .btn-user {
  color: rgba(255, 255, 255, 0.7);
}

.footer-line {
  min-height: 40px;
  margin-bottom: 35px;
}

.main-footer .logo {
  float:left;
  margin-left: -2px;

  color: #f7e184;

  -webkit-user-select: none;
          user-select: none;

  cursor: default;
}

.main-footer .logo a {
  color: #f7e184;
}

.main-footer .logo a:hover {
  color: #f0c52e;
}

.main-footer .logo a:active {
  color: #f0c52e;
}

.main-footer .user-options {
  width: 225px;
  margin-top: -4px;

  text-align: right;
}

.main-footer .btn-userCompare.btn-user::before {
  background-position: -91px -5px;
}

.main-footer .btn-userCart.btn-user::before {
  background-position: -27px -5px;
}

.main-footer .btn-userCompare.btn-user:hover::before {
  background-position: -111px -5px;
}

.main-footer .btn-userCart.btn-user:hover::before {
  background-position: -49px -5px;
}

.main-footer .user-block {
  width: 340px;
  margin-top: -4px;
  margin-left: 400px;
  padding-right: 10px;

  text-align: right;
}

.main-footer .btn-userLogin.btn-user::before,
.main-footer .btn-userName.btn-user::before {
  background-position: -452px -5px;
}

.main-footer .btn-userLogin.btn-user:hover::before,
.main-footer .btn-userName.btn-user:hover::before {
  background-position:-475px -5px;
}

.main-footer .btn-user:hover{
    color: rgba(255, 255, 255, 1);
}

.main-footer .address {
  float:left;
  width: 260px;
  margin-top: -5px;
}

.footer-links {
  float:left;
  min-width: 480px;
  margin-top: -2px;
  margin-left: 77px;
}

.footer-links a {
  margin-left: 30px;
}

.footer-links a:last-of-type {
  margin-left: 40px;
}

.main-footer .tel{
  float: right;
  width: 200px;
  margin-top: -5px;
  margin-left: 40px;

  text-align: right;
}

.footer-line:last-child {
  margin-top: 41px;
  margin-bottom:0;
  padding-top: 5px;

  font-size: 0;
  text-align: justify;
  -ms-text-justify: newspaper;
  vertical-align: top;
}

.footer-line:last-child::after {
  display: inline-block;
  width: 100%;
  height: 0;

  content: "";
  /*Для корректной работы text-align: justify*/
}

.footer-strip {
  position: relative;

  display:  inline-block;
  width: 60px;

  vertical-align: top;
}

.footer-strip::before {
  position: absolute;
  top: 15px;
  left: 0;

  width: 80px;
  height: 8px;

  background-color: #f7e184;

  content: "";
}

.footer-social {
  position: relative;

  display:  inline-block;
  min-width: 148px;

  vertical-align: top;
}

.btn-social {
  position: absolute;

  width: 38px;
  height: 38px;

  background: url("../img/sprite.png") no-repeat;

  opacity: 0.3;
}

.btn-social:active {
  opacity: 0.1;
}

.btn-social-fb {
  top: 0;
  left: 0;

  background-position: -131px -5px;
}

.btn-social-inst {
  top: 0;
  left: 50%;
  transform: translate(-50%, 0);

  background-position: -254px -5px;
}

.btn-social-twitter {
  top: 0;
  right: 0;

  background-position: -381px -5px;
}

.copyright {
  position: relative;

  display:  inline-block;
  width: 60px;

  vertical-align: top;
}

.copyright:before,
.copyright a {
  position: absolute;
  top:0;
  right:0;

  width: 27px;
  height: 34px;
}

.copyright:before {
    background: url("../img/sprite.png") no-repeat -180px -5px;

    content: "";
}

.copyright a {
  visibility: hidden;
}

.copyright:hover > a {
  visibility: visible;
}

.copyright:hover::before {
  display: none;
}

.copyright a:active {
  opacity: 0.3;
}

/*МЕНЮ ОСНОВНОЙ НАВИГАЦИИ*/

.nav-main ul {
  position: relative;
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 0;
}

.nav-main > ul > li {
  display: inline-block;

  vertical-align: top;
}

.nav-main > ul > li:nth-child(1) {
  width: 225px;
  margin-right: 5px;
}

.nav-main > ul > li:nth-child(2) {
  width: 16px;
  margin-right: 294px;
}

.nav-main > ul > li:nth-child(3) {
  width: 130px;
  margin-right: 29px;
}

.nav-main > ul > li:nth-child(4) {
  width: 120px;
  margin-right: 102px;
}

.nav-main > ul > li:nth-child(5) {
  width: 120px;
}

.nav-main li li {
  display: inline-block;
  margin-right: 20px;

  vertical-align: top;
}

.nav-main li li ul {
  margin:0;
  padding:0;
}

.nav-main li li li a {
  text-transform: none;
  letter-spacing: normal;
}

li.column-1 {
  width: 220px;
}

li.column-2,
li.column-3 {
  width: 180px;
}

.nav-main .sub-menu {
  position: absolute;
  top: 44px;
  left: -60px;
  z-index: 100;

  width: 1100px;
  min-height: 143px;
  margin: 0;
  padding: 0;
  padding-left: 60px;

  background-color: #f7e296;
}

/*ШВЕЙЦАР (xD) .SUB-MENU*/

label[for="sub-menuPorter"] {
  position: relative;
  top: 17px;

  cursor: pointer;
}

label[for="sub-menuPorter"]::before,
label[for="sub-menuPorter"]::after {
  position: absolute;
  top: -15px;
  left: 0;

  width: 16px;
  height: 16px;

  background:  url("../img/sprite.png") no-repeat;

  content: "";
}

label[for="sub-menuPorter"]::before {
  background-position: -329px -5px;
}

label[for="sub-menuPorter"]::after {
  background-position: -303px -5px;
}

.nav-main > ul > li input[type=checkbox]:checked ~ .sub-menu {
  display: block;
}

.nav-main > ul > li input[type=checkbox]:checked + label[for="sub-menuPorter"]::before {
  display: none;
}

.nav-main > ul > li input[type=checkbox] + label[for="sub-menuPorter"]::before {
  display: block;
}

.nav-main > ul > li input[type=checkbox]:checked + label[for="sub-menuPorter"]::after {
  display: block;
}

.nav-main > ul > li input[type=checkbox] + label[for="sub-menuPorter"]::after {
  display: none;
}

.sub-menuToggles:hover {
  cursor: pointer;
}

#sub-menuPorter {
  display:none;
}

/*СТИЛИ ДЛЯ CATALOG.HTML*/

.main-header-catalog .container {
  min-height: 186px;
}

/*СТИЛИ ДЛЯ МЕНЮ "ХЛЕБНЫХ КРОШЕК"*/

.breadcrumbs {
  margin-bottom: 40px;
}

.breadcrumbs ul {
  margin:0;
  margin-top: -18px;
  padding:0;

  font-size: 0px;
  vertical-align: top;
  text-align: left;

  list-style: none;
}

.breadcrumbs li {
  position: relative;

  display: inline-block;
  margin-right: 38px;

  text-align: left;
  vertical-align: top;
}

.breadcrumbs li:not(:last-child)::after {
  position: absolute;
  top: 15px;
  right: -20px;

  width: 4px;
  height: 4px;

  border: 2px solid #000000;
  border-bottom-color: #ffffff;
  border-left-color: #ffffff;

  clip: rect(auto, auto, 6px, 2px);

  transform: rotate(45deg);

  content: "";
}

.breadcrumbs li a {
  font-size: 14px;
  letter-spacing: 0.01em;

  opacity: 0.3;
}

.breadcrumbs .current-page {
  opacity: 0.6;
}

.breadcrumbs li:not(:last-child) a:active {
  opacity: 0.1;
}

.breadcrumbs li:last-child {
cursor: default;
}

/*СТИЛИ ДЛЯ БЛОКА КАТАЛОГА*/

.catalog {
  margin: 0 auto;
  width: 1440px;
}

.catalog-block {
  min-height: 1283px;
}


.catalog-block:first-child {
  float: left;
  width: 468px;
  margin-left: -45px;

  background-color: #eeeeee;
}

.catalog-block:last-child {
  float: right;
  width: 972px;
  margin-right: 45px;
}

.block-title,
.sort-title {
  display: inline-block;
  height: 70px;

  vertical-align: top;
}

.block-title {
  width: 268px;
  padding-left: 200px;

  background-color: #dbdbdb;
}

.sort-title {
  padding-left: 72px;
  margin-right: 45px;
}

.block-title h2,
.sort-title h2 {
  font-size: 16px;
  line-height: 42px;
}

/*СТИЛИ ДЛЯ МЕНЮ СОРТИРОВКИ ТОВАРОВ*/

.catalog-sort {
  width:972px;

  height: 70px;
  line-height: 70px;

  background-color: #ebebeb;
}

.sort-options {
  display: inline-block;
  width: 455px;
  margin-right: 40px;
  padding-left: 5px;

  vertical-align: top;
}

.sort-option {
  margin-right: 20px;

  opacity: 0.2;
}

.sort-option:last-child {
  margin-right: 0px;
}

.sort-option:hover {
  opacity: 0.4;
}

.sort-option:active,
.sort-option.current {
  opacity: 1;
}

.sort-option.current {
  cursor: default;
}

.sort-order {
  display: inline-block;
  width: 60px;
}

.btn-sortOrder {
  position: relative;
  font-size: 0;

  opacity: 0.2;
}

.btn-sortOrder:not(:last-child) {
  margin-right: 40px;
}

.btn-sortOrder::before {
  position: absolute;
  top: -10px;
  left: 0;

  border: 9px solid #000000;
  border-left-color: transparent;
  border-right-color: transparent;

  content: "";
}

.btn-up::before {
  border-top:none;
}

.btn-down::before {
  border-bottom:none;
}

.btn-sortOrder:hover {
  opacity: 0.4;
}

.btn-sortOrder:active,
.btn-sortOrder.current {
  opacity: 1;
}

.btn-sortOrder.current {
  cursor: default;
}

/*СТИЛИ ДЛЯ БЛОКА ФИЛЬТРОВ*/

.catalog-filters {
  width: 200px;
  padding-left: 200px;
  padding-top: 65px;
}

.filter-title {
  position: relative;

  margin-bottom: 27px;
}

.filter-title:nth-child(2) {
  margin-top: 80px;
}


.filter-title::before {
  position: absolute;
  top: -15px;
  left: 0;

  width: 200px;
  height: 2px;

  background-color: #000000;

  content: "";
}

/*СТИЛИ ДЛЯ ФИЛЬТРА ПО ЦЕНЕ*/

.range-controls {
  position: relative;

  margin-top: 35px;
}

.range-scale {
  width: 200px;
  height: 2px;

  background-color: #dbdbdb;
}

.scale-value {
  width: 55%;
  height: 2px;

  background-color: #91c92f;
}

.range-toggle {
  position: absolute;
  top:-6px;

  width: 10px;
  height: 10px;

  border: 2px solid #000000;
  border-radius: 50%;

  background-color: #eeeeee;
}

.range-toggle-min {
  left: 0;
}

.range-toggle:hover {
  border-color: #ffffff;

  background-color: #7eae29;

  cursor: pointer;
}

.range-toggle-max {
  left: 55%;
}

.range-values {
  position: relative;
}

.range-values input {
  position: absolute;
  top: 10px;

  min-width: 30px;
  max-width: 70px;

  font-size: 14px;
  line-height: 22px;
  color: #dbdbdb;

  background: none;
  border: none;
  outline: none;
}

input.min-value {
  left: 0;
}

input.max-value {
  left: 55%;

  transform: translate(-25%, 0);
}

/*ОБЩИЕ СТИЛИ LABEL ДЛЯ БЛОКА CATALOG-FILTERS*/

.catalog-filters label::before {
  position: absolute;
  top: 0;
  left: 0;

  width: 24px;
  height: 24px;

  background-color: #dbdbdb;

  content: "";
}

.catalog-filters label,
.catalog-filters label:before {
  cursor: pointer;
}

/*СТИЛИ ДЛЯ ФИЛЬТРА ПО ЦВЕТУ*/

.catalog-filters ul {
  margin: 0;
  margin-bottom: 50px;
  padding: 0;

  list-style: none;
}

.catalog-filters input[type="checkbox"] {
  display:none;
}

.catalog-filters li {
  position: relative;

  width: 24px;
  margin-bottom: 17px;
  padding-left: 38px;

  line-height: 24px;
}

.catalog-filters input[type="checkbox"]:checked + label::after {
  position: absolute;
  top: 2px;
  left: 5px;

  width: 8px;
  height: 8px;

  border: 2px solid #000000;

  clip: rect(2px, auto, auto, 6px);

  transform: rotate(50deg);

  content: "";
}

.catalog-filters input[type="checkbox"]:checked + label::before {
  background-color: #c4c4c4;
}

.catalog-filters label:hover::before {
  background-color: #cecece;
}

.catalog-filters label:active::before {
  background-color: #c4c4c4;
}

/*СТИЛИ ДЛЯ ФИЛЬТРА НАЛИЧИЯ BLUETOOTH'a*/

.catalog-filters input[type="radio"] {
  display:none;
}

.catalog-filters input[type="radio"] + label::before {
  width: 20px;
  height: 20px;

  background-color: transparent;

  border: 2px solid #dbdbdb;

  border-radius: 50%;
}

.catalog-filters input[type="radio"]:checked + label::after {
  position: absolute;
  top: 8px;
  left: 8px;

  width: 4px;
  height: 4px;

  border: 2px solid #000000;
  border-radius: 50%;

  content: "";
}

.catalog-filters input[type="radio"]:checked + label::before {
  border-color: #c4c4c4;
}

.catalog-filters input[type="radio"] + label:hover::before {
  border-color: #cecece;
}

.catalog-filters input[type="radio"] + label:active::before {
  border-color: #c4c4c4;
}

/*СТИЛЬ ДЛЯ КНОПКИ "ПОКАЗАТЬ"*/

.catalog-filters .btn {
  width: 200px;

  background: none;
  border: none;
  outline: none;
}

/*СТИЛИ ДЛЯ ТОВАРОВ КАТАЛОГА*/

.catalog-items {
  padding-top: 70px;
  padding-left: 72px;

  font-size: 0;
  line-height: 0;
}

.item {
  position: relative;

  display: inline-block;
  height: 486px;
  width: 360px;
  margin-right: 40px;
  margin-bottom: 20px;

  vertical-align: top;
}


.item-options {
  position: absolute;
  top: 0;
  left: 0;

  display: none;
  width: 360px;
  height: 380px;

  background-color: rgba(238, 238, 238, 0.7);
}

.item-options:hover {
  display: block;

  cursor: pointer;
}

.item-pic:hover ~ .item-options {
  display: block;
}

.item-options a {
  position: absolute;
  left: 50%;

  transform: translate(-50%,-50%);
}

.item-options .btn {
  top: 50%;

  width: 200px;
}

.item-options .btn-itemCompare {
  top: 58%;

  font-size: 13px;
  color: #000000;
  text-decoration: none;

  opacity: 0.5;
}

.item-options .btn-itemCompare:hover {
  opacity: 1;
}

.item-options .btn-itemCompare:active {
  opacity: 0.2;
}

.item-details {
  padding-top: 30px;

  font-size: 16px;
  line-height: 20px;
  /*letter-spacing: 0.01em;*/
}

.item-name a {
  float: left;

  text-align: left;
  text-decoration: none;
}

.item-price {
  float: right;
}

/*СТИЛИ ДЛЯ НАВИГАЦИИ ПО СПИСКУ ТОВАРОВ*/

.catalog-nav {
  width: 760px;
  margin-top: -15px;
  margin-left: 72px;

  font-size:0;
  text-align: justify;
  -ms-text-justify: newspaper;
  vertical-align: top;

  background-color: #ebebeb;
}

.catalog-nav:after {
  display: inline-block;
  width: 100%;
  height: 0;

  content:"";
  /*Для корректной работы text-align: justify*/
}
.catalog-nav a {
  display: inline-block;
  width: 40px;
  height: 70px;

  font-size: 16px;
  line-height: 70px;
  text-align: center;
  vertical-align: top;
}

.catalog-nav .nav-pageNumbers {
  display: inline-block;
  width: 120px;

  vertical-align: top;
}

.nav-pageNumbers a {
  opacity: 0.3;
}

.catalog-nav .btn-catalogNav {
  width: 130px;
}

.catalog-nav .btn-catalogNav:hover {
  background-color: #d9d9d9;
}

.catalog-nav .btn-catalogNav:active {
  color: rgba(0, 0, 0, 0.08);
}

.catalog-nav .current-page,
.nav-pageNumbers a:active {
  opacity: 1;
}

/*СТИЛИ ДЛЯ INDEX.HTML*/

.main-header .container {
  margin-bottom: 0;

  background-color: #f7e296;
}

.main-header-index .container {
  min-height: 300px;
}

/*СТИЛИ ДЛЯ СЛАЙДЕРА ПРОМО ТОВАРОВ*/

.slider.promo {
  position: relative;

  margin-top: -149px;
  margin-bottom: 103px;
}

.promo-image {
  position: relative;

  float: left;
  width: 565px;
  min-height: 486px;
}

.promo-image img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.promo-content {
  float: right;
  width: 566px;
  margin-top: 78px;

  text-align: left;
  font-size: 0;
  vertical-align: top;
}

.promo-content b {
  position:relative;
  top: 3px;
  left: 3px;

  display:block;
  width:566px;
}

.promo-content b:before,
.promo-content b:after {
  position: absolute;

  content: "";
}

.promo-content b:before {
  top: -40px;
  left: 3px;

  width: 100px;
  height: 7px;

  background-color: #ffffff;
}

.promo-content b span {
  position: relative;
  z-index: 20;
}

.promo-content b:after {
  right: 50px;
  top: -92px;
  z-index: 10;

  font-size: 179.2px;
  line-height: 179.2px;
  color: #ffffff;
}

.promo-slide:nth-of-type(1) .promo-content b:after {
  content: "01";
}

.promo-slide:nth-of-type(2) .promo-content b:after {
  content: "02";
}

.promo-slide:nth-of-type(3) .promo-content b:after {
    content: "03";
}

.promo-content p {
  padding: 4px;
  padding-right: 80px;

  line-height: 30px;
}

/*СТИЛИ ДЛЯ ССЫЛКИ "ПОДРОБНЕЕ"*/

.promo-details.btn {
  display: block;
  width: 220px;
  margin-top: 49px;
  margin-bottom: 62px;
  margin-left: 5px;
}

/*СТИЛИ ДЛЯ КОНТРОЛЕРА СЛАЙДОВ*/

.slider-control {
  position: absolute;
  right: 61px;
  bottom: 160px;

  line-height: 0;
  font-size: 0;
  vertical-align: top;

  list-style:none;
}

.slider-control li {
  position: relative;

  display: inline-block;
  width:33px;
}

.slider-control a::before {
  position: absolute;
  top:50%;
  left:0;

  width: 4px;
  height: 4px;

  border: 3px solid rgba(0, 0, 0, 0.3);
  border-radius: 50%;

  content: "";
}

.slider-control a:hover::before {
  border-color: rgba(0, 0, 0, 0.4)
}

.slider-control a:active::before,
.slider-control a.current::before  {
  border-color: rgba(0, 0, 0, 1)
}

/*СТИЛИ ДЛЯ АТРИБУТОВ ПРОМО-ТОВАРА*/

.promo-attribute {
  display: inline-block;
  min-width: 154px;
  padding-left: 6px;

  vertical-align: top;
}

.promo-attribute:nth-of-type(2) {
  min-width: 134px;
}

.promo-attribute .promo-attrTitle {
  font-size: 36px;
}

.promo-attribute .promo-attrDesc {
  font-size: 13px;
  line-height: 40px;
}

/*СТИЛИ ДЛЯ БЛОКА ПОПУЛЯРНЫХ ТОВАРОВ*/

.popular-items {
  margin-bottom: 262px;

  font-size: 0;
  text-align: center;
  vertical-align: top;
}

.btn-popular + .btn-popular {
  margin-left: 40px;
}

.btn-popular img {
  vertical-align: middle;
}

.btn-popular:nth-of-type(2) img {
  vertical-align: bottom;
}

.popular-items .btn-popular {
  display:inline-block;
  height: 160px;
  width: 160px;

  line-height: 160px;
  vertical-align: top;

  background-color: #f7e296;
}

.btn-popular p {
  margin-top: 34px;

  text-align: left;
  line-height: normal;
}

.btn-popular:hover {
  background-color: #f0c52e;
}

.btn-popular:active > img,
.btn-popular:active > p  {
  opacity: 0.3;
}

/*СТИЛИ ДЛЯ СЛАЙДЕРА СЕРВИСОВ*/

.slider.services {
  min-height: 288px;
  margin-bottom: 95px;

  background-color: #e5e5e5;
}

/*СТИЛИ ДЛЯ НАВИГАЦИИ ПО СЛАЙДАМ*/

.services-nav {
  position: relative;

  float: left;
  width: 300px;
  margin-top: -20px;
}

.services-nav:before {
  position:absolute;
  top: -80px;
  right: 16px;

  height: 320px;;
  width: 8px;

  background-color: #000000;

  content: "";
}

.services-nav ul {
  margin: 0;
  padding: 0;

  list-style: none;
}

.services-nav li {
  width:280px;
  height: 40px;
  margin-bottom: 25px;
}

.services-nav .btn-services {

  display: block;
  width: 140px;
  padding-left: 15px;

  line-height: 40px;
}

.btn-services:active::before,
.btn-active.btn-services::before  {
  background-color: #000000;
  width: 280px;
  height: 40px;
}

.btn-active.btn-services,
.btn-services:active {
  color: #f7e39a;
}

/*СТИЛИ ДЛЯ СЛАЙДОВ*/

.services-slides {
  position: relative;

  float: right;
  width: 760px;
  margin-top: -20px;
}

.services-slides h2 {
  padding: 0;
  margin-top: -12px;
  margin-bottom: 27px;
}

.services-slides p {
  width: 440px;

  line-height: 30px;
}

.services-slide::after {
  position: absolute;
  top: 50%;
  right: 65px;
  transform: translate(0, -50%);

  content: "";
}

.services-slide:nth-of-type(1)::after {
  width: 136px;
  height: 164px;

  background: url("../img/services-delivery.png") no-repeat;
}

.services-slide:nth-of-type(2)::after {
  transform: translate(0, -60%);

  width: 171px;
  height: 195px;

  background: url("../img/services-warranty.png") no-repeat;
}

.services-slide:nth-of-type(3)::after {
  transform: translate(0, -60%);

  width: 156px;
  height: 188px;

  background: url("../img/services-credit.png") no-repeat;
}

/*СТИЛИ БЛЯ БЛОКА ПАРТНЁРОВ*/

.partners {
  margin-bottom: 90px;

  text-align:center;
  font-size: 0;
  line-height: 0;
}

.btn-partner {
  display: inline-block;

  vertical-align: top;
}

/*////////////////////////GRAYSACLE//////////////////////////*/

.grayscale {
  -webkit-filter: grayscale(1);
          filter: grayscale(1);
          filter: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><filter id='grayscale'><feColorMatrix type='saturate' values='0'/></filter></svg>#grayscale");
          filter: gray;

  opacity: 0.2;
}

.grayscale.grayscale-off,
.grayscale.grayscale-fade:hover {
  -webkit-filter: grayscale(0);
          filter: grayscale(0);

  opacity: 1;
}

/* Background element */

.grayscale.grayscale-replaced {
  -webkit-filter: none;
          filter: none;
}

.grayscale.grayscale-replaced.grayscale-off > svg,
.grayscale.grayscale-replaced.grayscale-fade:hover > svg {
  opacity: 0;
}

/*Хак для правильного отображения Opacity в IE10*/

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .grayscale {
     opacity: 1;
  }
  .partners .btn-partner {
    opacity: 0.2;
  }

  .partners .btn-partner:hover {
    opacity: 1;
  }
}

/*///////////////////////////////////////////////////////*/

.btn-partner + .btn-partner {
  margin-left: 40px;
}

/*СТИЛИ ДЛЯ ИНФОРМАЦИОННЫХ БЛОКОВ*/

.info-block {
  position: relative;

  float:left;
  width: 460px;
  min-height: 490px;
  padding-top: 10px;
  padding-bottom: 65px;
}

.info-block:last-child {
  float: right;
  width: 560px;
}

.info-block::before {
  position: absolute;
  top: 0;
  left: 0;

  width: 80px;
  height: 8px;

  background-color: #000000;

  content: "";
}

.info-block p {
  margin-bottom: 30px;

  line-height: 30px;
  letter-spacing: 0.01em;
}

.info-block ul {
  margin:0;
  padding: 0;
  padding-top: 5px;

  list-style: none;
}

.info-block li {
  position: relative;

  padding-left: 35px;

  font-size: 16px;
  line-height: 40px;
}

.info-block li::before {
  position: absolute;
  top: 15px;
  left: 0;

  width: 4px;
  height: 4px;

  border: 3px solid #000000;
  border-radius: 50%;

  opacity: 0.3;

  content: "";
}

.info-block .map {
  display: block;
  margin-top: 37px;
}

.info-block .btn-info {
  position: absolute;
  left: 0;
  bottom: 0;

  width: 260px;
}

/*/////////////////////ПОПАПЫ//////////////////*/

/*АНИМАЦИИ ДЛЯ ФОРМЫ*/

@keyframes bounce {
  0%   {
    transform: translate(-50%,-1000%);
  }
  100% {
    transform: translate(-50%,-50%);
  }
}

@keyframes slide {
  0%   {
    transform: translate(-1000%,-50%);
  }
  100% {
    transform: translate(-50%,-50%);
  }
}

@keyframes shake {
  0%, 100% {
    transform: translateX(0);
  }
  10%, 30%, 50%, 70%, 90% {
    transform: translateX(-10px);
  }
  20%, 40%, 60%, 80% {
    transform: translateX(10px);
  }
}

.modal-error {
  animation: shake 0.6s;
}

/*ПОПАП "НАПИШИТЕ НАМ"*/

.modal-content-wu {
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 200;

  transform: translate(-50%,-50%);

  width: 760px;
  min-height: 255px; /*для верстки*/
  padding: 95px 100px;

  background-color: #ffffff;
  box-shadow:
    50px 0px 60px -50px rgba(0, 0, 0, 0.75),
    -50px 0px 60px -50px rgba(0, 0, 0, 0.75),
    0 0 30px 0 rgba(0, 0, 0, 0.2);

  animation: slide 0.6s;
}

/*ПОЛЯ ФОМРЫ*/

.modal-content-wu input[type="text"],
.modal-content-wu input[type="email"],
.modal-content-wu textarea {
  width: 320px;
  padding: 15px 20px;

  color: rgba(70, 70, 70, 0.4);

  border: none;
  outline: none;
  background-color: #f2f2f2;
}

.modal-content-wu label {
  line-height: 18px;
}


.modal-content-wu input,
.modal-content-wu textarea {
  margin-top: 10px;
  margin-bottom: 35px;
}

.modal-content-wu textarea {
  width: 720px;
  min-height: 125px;
  resize: none;
}

.modal-content-wu .form-column {
  width: 360px;
}

.modal-content-wu .right-column {
  float:right;
}

.modal-content-wu .left-column {
  float: left;
}

.write-us-form .btn {
  width: 200px;
  margin-top: 10px ;

  border: none;
  outline: none;
  background: none;
}

/*ПОПАП КАРТЫ*/

.modal-content-map {
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 200;

  width: 960px;
  height: 560px;

  transform: translate(-50%,-50%);

  background: #ffffff url("../img/map-big.jpg") no-repeat;

  box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.2);

  animation: bounce 0.6s;
}

/*КНОПКА "ЗАКРЫТЬ"*/

.modal-content-close {
  position: absolute;
  top: 22px;
  right: 22px;

  width: 55px;
  height: 55px;

  font-size: 0;

  border-radius: 50%;
  border: none;
  outline: none;
  background-color: #f7e296;

  cursor: pointer;
}

.modal-content-close::before,
.modal-content-close::after {
  position: absolute;
  top: 26px;
  right: 12px;

  width: 30px;
  height: 2px;

  background-color: #ffffff;

  content: "";
}

.modal-content-close::before {
  transform: rotate(45deg);
}

.modal-content-close::after {
  transform: rotate(-45deg);
}

/*ОВЕРЛЕЙ*/

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;

  width: 100%;
  height: 100%;

  background-color: #000000;

  opacity: 0.5;
}

/*ВСПОМОГАТЕЛЬНЫЕ СТИЛИ*/

.hidden {
  display: none;
}

.container {
  padding-left: 60px;
  margin: 0 auto;
  width: 1100px;
  /*background-color: rgba(0, 255, 255, 0.6);*/
}

.container-WP { /*WP-wihtout-padding*/
  margin: 0 auto;
  width: 1160px;
  /*background-color: rgba(0, 255, 255, 0.6);*/
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.item-new::before {
  position: absolute;
  top: 27px;
  right: 30px;

  width: 56px;
  height: 56px;

  border: 2px solid #cfcfcf;
  border-radius: 50%;

  font-size: 14px;
  line-height: 58px;
  font-family: "Gilroy Extra Bold", "Arial Black", sans-serif;
  text-align: center;
  color: #cfcfcf;


  content: "NEW";
}

.catalog-nav .disabled {
  background-color: #d9d9d9;
  color: rgba(0, 0, 0, 0.08);
}
